<div class="container">
  	<div class="row">
    	<div class="col-sm-8 col-md-5 col-lg-10 col-xl-10">

			<h1>Editing Write</h1>

			<%= render 'form', write: @write %>

			<%= link_to 'Show', @write %> |
			<%= link_to 'Back', writes_path %>

		</div>	
	</div>	
</div>